<!DOCTYPE html>
<html data-ts-native>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <script src="https://unpkg.com/vue/dist/vue.js"></script>
    
    <title>VueJS Web</title>
</head>
<body>
    <!--範例1...........................................-->
    <h1>Ex 01</h1>
    <div id="app1">
        <h1>{{ message }}</h1>
        <input type="text" v-model="message">

        <div>{{ $data | json }}</div>
    </div>
    <!--
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.0.1/vue.min.js"></script>
    -->
    <!--範例2...........................................-->
    <h1>Ex 02</h1>
    <div id="app2">
        <h1 class="error">{{ score }}分</h1>
        <div v-show="score">
            <p v-if="score >= 6">Vue.js so easy</p>
            <p v-if="score < 0">不能有負數!!!</p>
            <p v-if="score > 10">最高10分啦!!!</p>
            <p v-else>still learning Vue.js</p>
        </div>
        <p>你覺得vue.js簡單嗎？請輸入1~10分</p>
        <input type="text" v-model="score">
    </div>
    
    <!--範例3...........................................-->
    <h1>Ex 03</h1>
    <div id="app3">
        <p>目前以點擊：{{count}}次</p>
        <input type="submit" value="立即送出" v-on:click="clickme">
    </div>
    <!--範例4...........................................-->
    <h1>Ex 04</h1>
    <div id="app4">
        <button v-on:click="handleIt('uh')">I say uh</button>
        <button v-on:click="handleIt('ah')">you say ah</button>
    </div>
    <!--範例5...........................................-->
    <h1>Ex 05</h1>
    <div id="app5">
        <!--<form action="submit.html" v-on:submit.prevent="handleIt">-->
        <form action="submit.html" @submit.prevent="handleIt">
            <button type="submit">立即送出</button>
        </form>
    </div>
    <!--範例6...........................................-->
    <h1>Ex 06</h1>
    <div id="app6">
        <!--<span v-for="n in 10">{{ n }}</span>-->
        <div v-for="i in 9">
            <h3>{{ i }}</h3>
            <div v-for="j in 9">{{ i }} x {{ j }}={{ i*j }}</div>
        </div>
    </div>
    <!--範例7...........................................-->
    <h1>Ex 07</h1>
    <div id="app7">
        <ul>
            <li v-for="item in items">
            {{ item.message }}
            </li>
        </ul>
    </div>
    <!--範例8...........................................-->
    <h1>Ex 08</h1>
    <div id="app8">
            <ul>
              <li v-for="(item, index) in items">
                {{ parentMessage }} - {{ index }} - {{ item.message }}
              </li>
            </ul>
        </div>
    <!--範例9...........................................-->
    <h1>Ex 09</h1>
    <!--範例10...........................................-->
    <h1>Ex 10</h1>
</body>
 <script>
    var data = {
        message:'Hello World!'
    }
    var app1 = new Vue({
        el:'#app1',
        data:data
    });
    var app2 = new Vue({
        el:'#app2',
        data:{
            score:'0'
        }
    });
    var app3 = new Vue({
        el:'#app3',
        data:{
            count:0
        },
        methods:{
            clickme: function(){
                //alert("here I am!");
                this.count += 1;
            }
        }
    });
    var app4 = new Vue({
        el:'#app4',

        methods:{
            handleIt: function(msg){
                alert(msg)
            }
        }
    });
    var app5 = new Vue({
        el:'#app5',

        methods:{
            handleIt: function(){
                alert("here I am!");
            }
        }
    });
    var app6 = new Vue({
        el:'#app6'
    });
    var app7 = new Vue({
        el:'#app7',
        data:{
            items: [
                { message: 'Apple' },
                { message: 'banana' },
                { message: 'Coconut' }
            ]
        }
    });
    var app8 = new Vue({
        el:'#app8',
        data: {
        parentMessage: '台北市',
        items: [
            { message: '中正區' },
            { message: '中山區' },
            { message: '大同區' }
        ]
        }
    });
</script>
</html>